body{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #09013c;
    text-align: center;
}

.tasksTable {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th, tr, td {
    border: 1px solid white;
    margin: 30px;
    padding: 10px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.inputSection {
    margin-top: 60px;
}

.tableSection {
    margin-top: 60px;
}

.inputs {
    margin-left: 12px;
    margin-right: 12px
}